/* Checking Animated Button */
.animated-button {
    -fx-cursor: hand;
}
/* Login Button Hover Effect */
.loginBtn{
    -fx-background-color:  #0B60B0;
    -fx-text-fill: #FFF;
    -fx-background-radius: 5px;
}
.loginBtn:hover{
    -fx-background-color:transparent;
    -fx-background-radius: 5px;
    -fx-text-fill:   #FFFFFF;
    -fx-border-color:   #0B60B0;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}
.cancelBtn{
     -fx-background-color: #C0392B;
     -fx-text-fill: #FFF;
     -fx-background-radius: 5px;
}
.cancelBtn:hover{
    -fx-background-color:transparent;
    -fx-background-radius: 5px;
    -fx-text-fill:  #C0392B;
    -fx-border-color:  #C0392B;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}
.signupBtn{
     -fx-background-color: #40A2D8;
     -fx-text-fill: #FFF;
     -fx-background-radius: 5px;
}
.signupBtn:hover{
     -fx-background-color:transparent;
     -fx-background-radius: 5px;
     -fx-text-fill:  #FF8F00;
     -fx-border-color:#40A2D8;
     -fx-border-width: 1px;
     -fx-border-style: solid;
     -fx-border-radius: 5px;
}
.registerBtn{
    -fx-background-color:     #0B60B0;
    -fx-text-fill: #FFF;
    -fx-background-radius: 5px;
}
.registerBtn:hover{
    -fx-background-color:transparent;
    -fx-background-radius: 5px;
    -fx-text-fill:   #76ff03;
    -fx-border-color:   #0B60B0;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

.techBtn{
    -fx-background-color:     #0B60B0;
    -fx-text-fill: #FFF;
    -fx-background-radius: 5px;
}
.techBtn:hover{
    -fx-background-color:transparent;
    -fx-background-radius: 5px;
    -fx-text-fill:   #76ff03;
    -fx-border-color:   #0B60B0;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}


.healthBtn{
    -fx-background-color:     #0B60B0;
    -fx-text-fill: #FFF;
    -fx-background-radius: 5px;
}
.healthBtn:hover{
    -fx-background-color:transparent;
    -fx-background-radius: 5px;
    -fx-text-fill:   #76ff03;
    -fx-border-color:   #0B60B0;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}


.masBtn{
    -fx-background-color:     #0B60B0;
    -fx-text-fill: #FFF;
    -fx-background-radius: 5px;
}
.masBtn:hover{
    -fx-background-color:transparent;
    -fx-background-radius: 5px;
    -fx-text-fill:   #CCD3CA;
    -fx-border-color:   #0B60B0;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}


.tileBtn{
    -fx-background-color:     #0B60B0;
    -fx-text-fill: #FFF;
    -fx-background-radius: 5px;
}
.tileBtn:hover{
    -fx-background-color:transparent;
    -fx-background-radius: 5px;
    -fx-text-fill:   #CCD3CA;
    -fx-border-color:   #0B60B0;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}


.compBtn{
    -fx-background-color:     #0B60B0;
    -fx-text-fill: #FFF;
    -fx-background-radius: 5px;
}
.compBtn:hover{
    -fx-background-color:transparent;
    -fx-background-radius: 5px;
    -fx-text-fill:   #CCD3CA;
    -fx-border-color:   #0B60B0;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

.text-field {
    -fx-background-radius: 5px;
    -fx-border-color:   #281F5F;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

.text-field:hover {
    -fx-background-color: #FFF
;
}

.text-field:focused {
    -fx-background-color: #FFF;
    -fx-border-color:  #281F5F;
}
.combo-box {
    -fx-background-color: transparent;
    -fx-text-fill: #FFF;
    -fx-background-radius: 5px;
    -fx-border-color:  #281F5F;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

.combo-box:hover {
    -fx-background-color: transparent;
}

.combo-box:focused {
    -fx-background-color: transparent;
    -fx-border-color: #281F5F;
}






.pane_1{
-fx-background-color: #7077A1;
-fx-border-width: 2px 2px 2px 2px;
-fx-border-radius: 30px;
-fx-background-radius: 30px;
-fx-border-style: solid;
-fx-border-color: #748CF1;
}

.image_1{
-fx-border-radius: 30px;
}

.pane_121{
-fx-border-color: #ffffff;
}
.pane_122{
-fx-background-color: #FFF7F1;
-fx-border-width: 2px 2px 2px 2px;
-fx-border-radius: 30px;
-fx-background-radius: 30px;
-fx-border-style: solid;
-fx-border-color: #FFF7F1;

}

.pane_12121{

-fx-background-color: #B4B4B8;
-fx-border-width: 2px 2px 2px 2px;

-fx-border-radius: 30px;
-fx-background-radius: 30px;
-fx-border-style: solid;
-fx-border-color: #3C3633;



}
.pane2001{
-fx-background-color: #86A789;
-fx-border-width: 2px 2px 2px 2px;

-fx-border-radius: 30px;
-fx-background-radius: 30px;
-fx-border-style: solid;
-fx-border-color: #3C3633;

}
.pane_1212{

-fx-background-color: #B4B4B8;
-fx-border-width: 2px 2px 2px 2px;

-fx-border-radius: 30px;
-fx-background-radius: 30px;
-fx-border-style: solid;
-fx-border-color: #3C3633;


}
.pane_1211{
fx-background-color: #B4B4B8;
-fx-border-width: 2px 2px 2px 2px;

-fx-border-radius: 30px;
-fx-background-radius: 30px;
-fx-border-style: solid;
-fx-border-color: #3C3633;


}

.image_1{
-fx-border-radius: 30px;

}

.pane_12{
fx-background-color: #820300;
-fx-border-width: 2px 2px 2px 2px;

-fx-border-radius: 30px;
-fx-background-radius: 30px;
-fx-border-style: solid;
-fx-border-color: #3C3633;

}